<!DOCTYPE html>
<html>
<head>
  <title>Trabajo20</title>
  
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Versión compilada y comprimida del CSS de Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

  <!-- Tema opcional -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">

  <!-- Versión compilada y comprimida del JavaScript de Bootstrap -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>


</head>
<body>




  <%= render 'shared/navbar' %>
  <%= render 'shared/alert' %>

<%= yield %>

</body>
</html>
